// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #000000dc;
$light-gray: #F4F4F4;

$ow-green-1: #4D6649;
$ow-green-2: #6B8B66;
$ow-green-3: #91B98B;
$ow-green-4: #B7DCB1;
$ow-green-5: #E5F2E3;

$ow-grey-1: rgb(78, 75, 75);
