<footer class="footer">
  <div class="container">
    <div class="footer-links">
      <a href="#none" class="social-media-link">
        <i class="fab fa-twitter-square"></i>
      </a>
      <a href="#none" class="social-media-link">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="#none" class="social-media-link">
        <i class="fab fa-instagram-square"></i>
      </a>
    </div>
    <h1 class="footer-text">©️2022 OSUSOWAKE</h1>
  </div>
</footer>
