<div class="card-homepage mb-5 w-75">
  <img class="object-fit-cover" src="https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
  <div class="card-homepage-infos m-2 p-3">
    <h3 class="h4 text-uppercase">For Foodies</h3>
    <h4 class="h6 text-muted text-uppercase">Get Osusowake from neighbour chefs</h4>
    <p>
      Want to try your neighbour’s meal? That’s where OSUSOWAKE can help you!
      OSUSOWAKE chefs provides a variety of unique dishes near your house.
    </p>
    <%= link_to "Satisfy your cravings", cooking_sessions_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
<div class="card-homepage mb-2 ms-auto w-75 text-end">
  <div class="card-homepage-infos m-2 p-3">
    <h3 class="h4 text-uppercase">For Cooking Lovers</h3>
    <h4 class="h6 text-muted text-uppercase">Share your food through osusowake</h4>
    <p>
      If you love cooking and want to share some portions with your neighbours, OSUSOWAKE is here for you! It is your opportunity to become a home chef and let people try your food.
    </p>
    <%= link_to "Become a chef", new_user_chef_meal_path, class: "btn btn-outline-secondary" %>
  </div>
  <img class="object-fit-cover" src="https://images.unsplash.com/photo-1605522508768-f8697d6e8e24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80" />
</div>
