<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1486887396153-fa416526c108?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1><strong>OSUSOWAKE</strong></h1>
    <p>Experience unique and homemade meals from your neighbors</p>

    <%= simple_form_for :search, url: cooking_sessions_path, method: :get do |f| %>
      <%= f.input :query,
        placeholder: "Type your location",
        label: false
      %>
      <%= f.input :max_distance,
        label: "Select max. distance:",
        collection: { "5km" => 5, "10km" => 10, "20km" => 20 },
        as: :radio_buttons
      %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

