.card-homepage {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
  font-family: Roboto;

  img {
    height: 100%;
    width: 350px;
    object-fit: cover;
  }

  h2 {
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 15px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .btn {
    margin-top: 5px;
    width: 100%;
    padding: 3px;
    font-size: small;
    border-radius: 2px;
  }
}

.card-homepage .card-homepage-infos {
  padding: 16px;
}

.card {
  .card-image-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 1rem 5rem 1rem;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0));
    right: 0;
    color: white;
    border-radius: 13px 13px 0 0;
    opacity: 1;
    transition: opacity 0.25s;
  }

  &:hover {
    .card-image-info {
      opacity: 0;
    }
  }
}
