.flex-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-content {
  flex: 1;
}

.footer {
  background: $ow-green-1;
  color: white
}

.footer-container {
  text-align: center;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $ow-green-4;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;

    &:hover {
      opacity: 1;
    }
  }
}

.footer-text {
  font-size: 15px;
}
