.navbar-lewagon {
  h2 {
    font-family: 'PT Serif', serif;
  }

  justify-content: space-between;
  background: $ow-green-5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  .nav-refine-location {
    max-width: 36rem;
  }
}
