.navbar-lewagon {
  h2 {
    font-family: 'Raleway', sans-serif;
  }
  font-family: 'Raleway', sans-serif;
  justify-content: space-between;
  background: $ow-green-1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar {
  .nav-refine-location {
    max-width: 36rem;
  }
}
