<div class="container py-3">
  <h1 class="text-center mb-3">Ready Soon</h1>
  <div class="row">
    <% @cooking_sessions.upcoming.limit(6).each do |cooking_session| %>
      <div class="col-4">
        <%= render "cooking_sessions/card", cooking_session: cooking_session %>
      </div>
    <% end %>
  </div>

  <hr>

  <h1 class="text-center mb-3">Check out these meals your neighbors are cooking!</h1>
  <div class="row">
    <% @cooking_sessions.each do |cooking_session| %>
      <div class="col-4">

        <%= render "cooking_sessions/card", cooking_session: cooking_session %>

      </div>
    <% end %>
  </div>
</div>
