<div class="container py-3">
  <h4 class="text-left h2"><strong>Want to eat now?</strong></h4>
  <h4 class="text-left mb-3 h5 text-muted">Here are meals that will be ready soon</h4>
  <div class="row">
    <% @cooking_sessions.not_from(current_user&.chef).upcoming.limit(8).each do |cooking_session| %>
        <div class="col-3 mb-3">
          <%= render "cooking_sessions/card", cooking_session: cooking_session %>
        </div>
    <% end %>
  </div>
  <h4 class="text-left h3"><strong>Meals nearby</strong></h4>
  <h4 class="text-left mb-3 h5 text-muted">Check out other meals your neighbors are cooking</h4>
  <div class="row">
    <% @cooking_sessions_near.not_from(current_user&.chef).upcoming.each do |cooking_session| %>
      <div class="col-4 mb-3">
        <%= render "cooking_sessions/card", cooking_session: cooking_session %>
      </div>
    <% end %>
  </div>
</div>
