<div class="container py-3">
  <h3 class="text-left mb-3">Ready Soon</h3>
  <div class="row">
    <% @cooking_sessions.upcoming.limit(6).each do |cooking_session| %>
      <div class="col-4 mb-3">
        <%= render "cooking_sessions/card", cooking_session: cooking_session %>
      </div>
    <% end %>
  </div>

  <hr>

  <h3 class="text-left mb-3">Check out these meals your neighbors are cooking!</h3>
  <div class="row">
    <% @cooking_sessions.each do |cooking_session| %>
      <div class="col-4  mb-3">

        <%= render "cooking_sessions/card", cooking_session: cooking_session %>

      </div>
    <% end %>
  </div>
</div>
